* {
  box-sizing: border-box;
}

:root {
  --color-1: hsl(0, 61%, 64%);
  --color-2: hsl(48, 76%, 64%);
  --color-3: hsl(198, 63%, 51%);
}

.container {
  display: flex;
  min-height: 100dvh;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.square {
  --color: hsl(0, 61%, 64%);

  width: 40px;
  height: 40px;

  background-color: var(--color);
  animation: rotate 5s 0s ease infinite;
}
.square:nth-child(2) {
  --color: hsl(48, 76%, 64%);
}

.square:nth-child(3) {
  --color: hsl(198, 63%, 51%);
}

@keyframes rotate {
  20% {
    transform: rotate(75deg);
  }
  40% {
    transform: rotate(150deg);
  }
  60% {
    transform: rotate(225deg);
  }
  80% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
