/* Colors 
body background: #131417
tile background: #1e1f26 
username: #b7bbc8
card stats background: #131417
*/

:root {
  --font-main: "Noto Sans", sans-serif;
  --bg-main: #131417;
  --bg-card: #1e1f26;
  --bg-stats: #131417;
  --username: #b7bbc8;
  --border-radius: 0.3em;
}

html,
body {
  margin: 0;
  padding: 0;
}
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
p,
h3 {
  margin-block: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 0.5em;
  margin-block: 0;
}
li {
  background-color: var(--bg-stats);
  padding: 0.3em;
  border-radius: var(--border-radius);
}
.container {
  min-height: 100dvh;
  display: grid;
  place-content: center;
  background-color: var(--bg-main);
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  width: 90%;
  max-width: 320px;
  min-width: 250px;
  background-color: var(--bg-card);
  border-radius: var(--border-radius);
  padding: 1em;
  color: white;

  display: grid;
  row-gap: 0.8em;

  &:is(:hover) {
    .card-stats {
      display: flex;
    }
  }
}

.card-thumbnail {
  border-radius: var(--border-radius);
  overflow: hidden;
  height: 200px;
}

.card-body {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
}

.card-avatar {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  overflow: hidden;

  img {
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

.card-details {
  h3 {
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0.2em;
  }
  p {
    color: var(--username);
    margin-block: 0;
  }
}

.card-stats {
  display: none;
}
